body {
    padding:0;
    margin:0;
    background-color: #2D79D2;
    

}


/*RESPONSIVE*/
@media screen and (min-width: 80rem) {
    .container {
        margin: 1em 2em;
    }
}
/*-----------------------------*/

/*LOGO*/
.logo {
    width: 25%;
    display: inline-flex;
    align-items: center;
}

.logo img {
    width: 100%;
    margin-left: 5%;
}

#headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: monospace;
    color: white;
    display: table;
    margin: 0 auto;
}




p {
    color: black;
    font-weight: bolder;
    width: 800px;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    line-height: 190%;
}


.section1, .section2, .section3 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    font-size: clamp{0.5em, 5vh, 2em};
   
}

.section1, .section3 {
    justify-content: end;
}

.cloud {
    max-width: 90%;
    max-height: 90%;
    float: right ;
    margin: 0 0 0 40%; 
}
.cloud1 {
    margin: 0 40% 0 0; 
}

#cloud2 {
    animation: floatIn 0.5s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#cloud3 {
    animation: floatIn2 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes floatIn {
    0%{transform: translateX(-200%);}
    100%{transform: translateX(0 px);}
}
@keyframes floatIn2 {
    0%{transform: translateX(200%);}
    100%{transform: translateX(0 px);}
}

.bikappe {
    height: 100px;
    float: left;
    margin: 0 0 0 50%; 
}

.bikappe2  {
    height: 100px;
    float: left;
    margin: 0 50% 0 0; 
}


.bikappe3  {
    height: 100px;
    float: left;
    margin: 0 50% 0 0; 
}

.text1 {
    text-align: left;
    font-family: monospace;
    font-weight: bolder;
    width: 500px;
    padding-left: 10px;
   margin-left: 10px;
   left: 10px;
   

   
   
  
   

}

.head1 {
    font-family: monospace;
    font-weight: bolder;
    color: white;
    text-align:left;
    text-decoration: underline;
    padding-left: 10px;
   margin-left: 10px;
   left: 10px;
   

  }

.head2 {
    font-family: monospace;
    font-weight: bolder;
    color: white;
    text-align:right;
    text-decoration: underline;
    padding-right: 10px;
   margin-right: 10px;
   right: 10px;

}

.text2 {
    font-family: monospace;
    font-weight: bolder;
    width: 100%;
    display: block;
    text-align: right;
    padding-right: 10px;
   margin-right: 10px;
   right: 10px;
}

.head3 {
    font-family: monospace;
    font-weight: bolder;
    color: white;
    text-align:left;
    text-decoration: underline;
    padding-left: 10px;
   margin-left: 10px;
   left: 10px;
}

.text3{
    text-align: left;
    font-family: monospace;
    font-weight: bolder;
    width: 700px;
    padding-left: 10px;
   margin-left: 10px;
   left: 10px;
}