body {
    margin: 0;
    padding: 0;
    z-index: -2;
}

.slider-container {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: -25px;
    color: blue;
}

h2 {
    color: green;
    font-style: normal;
    font-size: 5.2rem;
    line-height: 1.12;
}

h3 {
    font-family: monospace;
    text-align: center;
}

header nav {
    display: flex;
    background-color: black;
    height: 80px;
    width: 100%;
}

.logo {
    width: 25%;
    display: inline-flex;
    align-items: center;
}

.logo img {
    width: 100%;
    margin-left: 5%;
}

.computer {
    justify-content: center;
    display: flex;
}

.computer img {
    width: 40%;
    height: 45%;
}

.håndtekst {
    text-align: center;
}

.fyldforside {
    padding-top: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px
}
.håndtekst1 {
    grid-area: 1 / 2;
    font-size: 1em;
}
.håndtekst2 {
    grid-area: 3 / 2;
}
.hånd2 {
    grid-area: 2 / 3;

}
.hånd2 img {
    margin-left: 40%;
}
.fyldforside img {
    width: 60%;
}
.info-graphic {
    display: flex;
    flex-direction: column;
    background-image: url(img/BEE.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 4435px;
    justify-content: center;
}
#computer-slider {
    position: relative;
    top: -40em;
    width: 40%;
    height: 10%;
    margin: 0 0 0 30%;
}
.navigation {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.navigation a {
    color: white;
    margin: 0 6rem 0 0;
    font-family: monospace;
    font-size: larger;
}

.access {
    background-color: purple;
    width: 30%;
}

.access input {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: purple;
    border: none;
    font-size: larger;
    color: white;
    font-family: monospace;
}

.dropdown-one {
    display: none;
    flex-direction: column;
    background-color: purple;
    align-items: center;
    height: 300px;
}

.dropdown-one li,
a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.display-text {
    font-family: Sometype Mono;
    text-align: center;
    padding-top: 2rem;}


:root {
    --light: #d8dbe0;
    --dark: #28292c;
    }
    .toggle-switch {
    position: relative;
    width: 100px;
    }
    
    .toggle-switch label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
    }
    
    #darkmode {
    position: absolute;
    display: none;
    }
    
    .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
    }
    
    input:checked ~ .slider {
    background-color: var(--light);
    }
    
    .slider::before {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: 32.5px;
    height: 32.5px;
    border-radius: 50%;
    box-shadow: inset 12px -3px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
    }
    
    input:checked ~ .slider::before {
    transform: translateX(47.5px);
    background-color: var(--dark);
    box-shadow: none;
    }
    .CO2 {
    position: absolute;
    height: 15em;
    top: 30%;
    right: 10%;
    transition: 1s;
    border-radius: 100%;
    }
    .CO2:focus, p:focus {
    transform: scale(3) translateX(-50%);
    border-radius: 0;
    } 

    #CO2-first {
    display: block;
    }

    #CO2-secondP {
    display: none;
    }
    .star {
        position: absolute;
        width: 32px;
        height: 32px;
    }
    #star-container {
        position: absolute;
        width: 100%;
        height: 60%;
        animation: blink 12s infinite;
        z-index: -1;
      }
      @keyframes blink {
        0%  {opacity: 100%;}
        25% {opacity: 50%;}
        50% {opacity: 0%;}
        75% {opacity: 50%;}
        100%{opacity: 100%;}
      }
    
                    /*I WANNA BE LAST*/
                    .show {display: flex;}
                    .darkmode{background-color: black;}
