body {
    margin: 0;
    padding: 0;
}

.slider-container {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: -25px;
    color: blue;
}

h2 {
    color: green;
    font-style: normal;
    font-size: 5.2rem;
    line-height: 1.12;
}

h3 {
    font-family: monospace;
    text-align: center;
}

header nav {
    display: flex;
    background-color: black;
    height: 80px;
    width: 100%;
}

.logo {
    width: 25%;
    display: inline-flex;
    align-items: center;
}

.logo img {
    width: 100%;
    margin-left: 5%;
}

.computer {
    justify-content: center;
    display: flex;
}

.computer img {
    width: 40%;
    height: 45%;
}

.håndtekst {
    text-align: center;
}

.fyldforside {
    padding-top: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px
}
.håndtekst1 {
    grid-area: 1 / 2;
}
.håndtekst2 {
    grid-area: 3 / 2;
}
.hånd2 {
    grid-area: 2 / 3;
    justify-items: end;
}
.fyldforside img {
    width: 60%;
}
.info-graphic {
    display: flex;
    flex-direction: column;
    background-image: url(img/BEE.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 4435px;
    justify-content: center;
}
#computer-slider {
    position: relative;
    top: -40em;
    width: 40%;
    height: 10%;
    margin: 0 0 0 30%;
}
.navigation {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.navigation a {
    color: white;
    margin: 0 6rem 0 0;
    font-family: monospace;
    font-size: larger;
}

.access {
    background-color: purple;
    width: 30%;
}

.access input {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: purple;
    border: none;
    font-size: larger;
    color: white;
    font-family: monospace;
}

.dropdown-one {
    display: none;
    flex-direction: column;
    background-color: purple;
    align-items: center;
}

.dropdown-one li,
a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

    .display-text {
        font-family: Sometype Mono;
        text-align: center;
        padding-top: 2rem;}
.show {display: flex;}
